header{
    text-align: center;
    margin-top: 20px;
}

#game-board{
    display:grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 5px;
    padding: 10px;
    width: 350px;
    margin: 0 auto;
}
.row{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}
.tile{
    width: 60px;
    height: 60px;
    border: black 2px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

#keyboard{
margin-top: 30px;
display:flex;
flex-direction: column;
align-items: center;
gap: 10px;
}

.keyboard-row{
    display: flex;
    gap: 5px;
}

.key{
    padding: 10px 15px;
    border: black 1px solid;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.key:hover {
    background-color: #bbb;
}

.tile[data-state="correct"] {
    background-color: #6aaa64;
    border-color: #6aaa64;
    color: white;
}

.tile[data-state="present"] {
    background-color: #c9b458;
    border-color: #c9b458;
    color: white;
}

.tile[data-state="absent"] {
    background-color: #787c7e;
    border-color: #787c7e;
    color: white;
}

.key[data-state="correct"] {
    background-color: #6aaa64;
    color: white;
    border-color: #6aaa64;
}

.key[data-state="present"] {
    background-color: #c9b458;
    color: white;
    border-color: #c9b458;
}

.key[data-state="absent"] {
    background-color: #3a3a3c; 
    color: white;
    border-color: #3a3a3c;
}